header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px 40px;
}
.header-logo{
    width: 20%;
}
.header-logo-image{
    width: 100%;
}