/* nav */
.form-search{
    width: 40%;
}

.keyword-input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: none;
    color: black;
    padding-left: 10px;

}

.nav-buttons{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--a{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn--b{
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* content */
.product-detail-container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    justify-content: space-between;
}
.icon img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.like-button{
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    
}

.product-image img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}

.product-info{
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.brand-name {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.purchase-button{
    text-decoration: none;
    background-color: rgb(255, 85, 85);
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
.icon-row{
    display: flex;
    gap: 20px;
}
.icon-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-category{
    display: flex;
    gap:20px;
}
.section-condition{
    display: flex;
    gap:20px;
}
.category-list{
    display: flex;
    gap:10px;
}
.category-name{
    background-color: #ddd;
    border-radius:20px ;
    padding: 3px 8px;
}
.comment-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.comment-submit{
    background-color: rgb(255, 85, 85);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
/* *{
    border: 1px solid red;
} */