.content{
    margin: 30px auto;
    width: 40%;
}
.ttl{
    text-align: center;
}
.form__label{
    font-weight: bold;
}
.form__input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}
.error-message{
    height: 15px;
    color: red;
    font-size: small;
    margin-bottom: 7px;
}

.register__btn{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 85, 85);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}