/* nav */
.form-search{
    width: 40%;
}

.keyword-input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: none;
    color: black;
    padding-left: 10px;

}

.nav-buttons{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--a{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn--b{
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* content */
.content{
    margin: 30px auto;
    width: 40%;
}
.ttl{
    text-align: center;
}

.profile-img{
    background-color: #ccc;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.image-select-btn{
    border: #FF5555 1px solid;
    border-radius: 4px;
    color: #FF5555;
    font-weight: bold;
    padding: 5px 10px;
    font-size: small;
    margin-left: 30px;
    cursor: pointer;

}
.form__label{
    font-weight: bold;
}
.form__input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 3px;
}
.error-message{
    height: 15px;
}

.register__btn{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 85, 85);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}