/* nav */
.form-search{
    width: 40%;
}

.keyword-input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: none;
    color: black;
    padding-left: 10px;

}

.nav-buttons{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--a{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn--b{
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* content */
.purchase-container{
    margin:80px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 60%;
}

.right-summary{
    width: 30%;
}
img{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.product-section{
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.img-info h2{
    margin-top: 0;
}
.payment-select{
    margin-left: 80px;
    min-width: 200px;
}
.payment-section{
    margin-top: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.payment-section h3{
    margin-top: 15px;
}

.address-section{
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.address{
    margin-left: 80px;
}
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.section-header h3{
    margin: 0;
}

.section-header a{
    text-decoration: none;
}
.form__error-message{
    height: 15px;
    color: red;
    font-size: small;
    margin: 0;
}
tr{
    border: 1px solid #ddd;
}

th, td{
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
}

.summary-table{
    margin-bottom: 50px;
    width: 100%;
}

.buy-button{
    background-color: rgb(255, 85, 85);
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
}

/* *{
    border: 1px solid red;
} */