.verify-container{
    width: 40%;
    margin: 100px auto;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}
.verify-message{
    font-weight: bold;
}

.verify-button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 10px;
    background-color: #ddd;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
}

.resend-link{
    appearance: none;
    border: none;
    background-color: white;
    color: rgb(0, 115, 204);
    cursor: pointer;
}